<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>books</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<nav>
    <ul>
        <li>
            <a href="/">REGISTER</a>
        </li>
        <li>
            <a href="/booksForm">NEW BOOKS</a>
        </li>
        <li>
            <a href="/authorsForm">NEW AUTHORS</a>
        </li>
        <li>
            <a href="/borrow">BORROW BOOKS</a>
        </li>
        <li>
            <a href="#footerlink">TABLES</a>
        </li>
    </ul>
</nav>
<div class="contact-us">
    {% if model.any_id is defined %}
       <form action="/deleteBook/{{ model.any_id }}" method="POST">
           <button type="submit">DELETE</button>
       </form>
    {% endif %}
  <form action="" method="POST">
    <label for="customerBookName">BOOK NAME <em>&#x2a;</em></label>
    <input id="customerBookName" name="name" required="" type="text" />
    <label for="customerAuthor">AUTHOR <em>&#x2a;</em></label>
    <input id="customerAuthor" name="author" required="" type="number" min="1"/>
    <label for="customerYear">YEAR <em>&#x2a;</em></label>
    <input id="customerYear" name="year" required="" type="number" min="1000"/>
    <label for="customerGenre">GENRE <em>&#x2a;</em></label>
    <input id="customerGenre" name="genre" required="" type="text" />
    {% if error is defined %}
        <h3>
              {{ error }}
        </h3>
      {% endif %}
    <button type="submit" id="customerOrder">SUBMIT</button>
  </form>
</div>
<nav>
    <ul>
        <li>
            <a href="/allUsers">Users</a>
        </li>
        <li>
            <a href="/allBooks">Books</a>
        </li>
        <li>
            <a href="/allAuthors">Authors</a>
        </li>
        <li>
            <a href="/allBorrows">Borrows</a>
        </li>
    </ul>
</nav>
<a id="footerlink"></a>
</html>
